.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    }
    
    .form-container>* {
    margin: 0.5em;
    }
    
    .form-input-reset {
    background-color: white;
    border: 1px solid #d3d3d3;
    height: 48px;
    width: 480px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    }
    
    
    