.user-board-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-board-nav-items li {
  font-weight: bold;
  cursor: pointer;
  padding-top: 8%;
}

.user-board-nav-desc {
  margin: 0;
  padding: 0;
  font-size: small;
  font-weight: normal;
  cursor: auto;
}
