.navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #000000;

  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  color: white;
  width: 100%;
}

.navbar-logo > img {
  height: 50px;
  width: 50px;
  filter: invert(10%);
}

.navbar-item {
  margin-right: 20px;
}

.icon {
  font-size: 50px;
}

.navbar-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-bg-color);
  overflow-x: hidden;
  transition: 0.5s;
}

.navbar-overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.navbar-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  display: block;
  transition: 0.3s;
}

.navbar-overlay a:hover,
.navbar-overlay a:focus {
  color: #f1f1f1;
}

.navbar-close-button,
.navbar-open-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  filter: invert(100%);
  font-size: 50px;
}

.navbar-overlay .navbar-close-button {
  position: absolute;
  top: 20px;
  right: 45px;
}

.navbar-cart-link {
}

.navbar-link-container {
  display: flex;
  justify-content: space-between;
}

.navbar-link-container > ul {
  display: flex;
  justify-content: space-between;
}

.navbar-overlay-link-item {
  list-style-type: none;
  margin: 0;
  padding: 0 1%;
}

.navbar-overlay-link-item:hover {
  text-decoration: none;
  background: linear-gradient(90deg, white 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: all 1s ease;
  animation: slide 0.4s forwards;
}

.navbar-overlay-link-item:hover a {
  color: var(--primary-bg-color);
  transition: all 0.4s ease;
}

.logo {
  text-decoration: none;
  color: white;
}

@keyframes slide {
  100% {
    background-position: left;
  }
}

@media screen and (max-height: 450px) {
  .navbar-overlay a {
    font-size: 20px;
  }
  .navbar-overlay .navbar-close-button {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
