header {
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar {
  display: flex;
  background-color: #0000007a;
  justify-content: space-between;
  align-items: center;
  padding: 2em 5em;
  color: white;
  width: 100%;
}

.navbar-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu-button {
  width: 100px;
  display: flex;
  justify-content: center;
}

.navbar-cart > p {
  padding-left: 10px;
  font-size: 16px;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}

.navbar-logo > img {
  height: 50px;
  width: 50px;
  filter: invert(10%);
}

.navbar-item {
  margin-right: 20px;
}

.icon {
  font-size: 50px;
}

.navbar-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  background-color: var(--primary-bg-color);
  overflow-x: hidden;
  transition: 0.5s;
}

.navbar-overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.navbar-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  display: block;
  transition: 0.3s;
}

.navbar-overlay a:hover,
.navbar-overlay a:focus {
  color: #f1f1f1;
}

.navbar-open-button,
.navbar-close-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  filter: invert(100%);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.navbar-overlay .navbar-close-button {
  /* position: absolute;
  top: 2.5%;
  right: 8%; */
  width: 100%;
  display: flex;
  padding: 2em 5em;
  justify-content: flex-end;
}

.navbar-link-container {
  display: flex;
  justify-content: space-between;
}

.navbar-link-container > ul {
  display: flex;
  justify-content: space-between;
}

.navbar-overlay-link-item {
  list-style-type: none;
  margin: 0;
  padding: 0 1%;
}

.navbar-overlay-link-item:hover {
  text-decoration: none;
  background: linear-gradient(90deg, white 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: all 1s ease;
  animation: slide 0.4s forwards;
}

.navbar-overlay-link-item:hover a {
  color: var(--primary-bg-color);
  transition: all 0.4s ease;
}

.nav-icons {
  display: flex;
  min-width: 100px;
  justify-content: space-around;
  align-items: baseline;
}

.nav-icons>li>.navbar-cart>svg:hover {
  color: #ff8000;
}

.nav-icons>li>.navbar-wishlist>svg:hover {
  color: red;
}

.logo {
  text-decoration: none;
  color: white;
}

.cart-icon, .heart-icon {
  font-size: 1.3em;
}

@keyframes slide {
  100% {
    background-position: left;
  }
}

@media screen and (max-height: 450px) {
  .navbar-overlay a {
    font-size: 20px;
  }
  .navbar-overlay .navbar-close-button {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  /* Styles pour les écrans mobiles entre 320px et 479px */
  .navbar {
    padding: 1em 2em;
  }
  .cart-icon, .heart-icon {
    font-size: 1em;
  }
  .navbar-open-button,.navbar-close-button {
  font-size: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Styles pour les tablettes entre 768px et 991px */
  
}
