<!DOCTYPE html>
<html>
<head lang="fr">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
	<body>
		<div class='logo-container'>
			<h2>Harmony Heaven</h2>
		</div>
		<div class="main">
			<h1>Réinitialisation de votre mot de passe</h1>
			<h4>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien ci-dessous. <br />
			⚠ Ce lien est valide durant 24H.</h4>
			<a href="http://localhost:5173/reset-password/{{token}}" class="button">Changer de mot de passe</a>
		</div>
	</body>
</html>
