.product-detail-container {
  display: flex;
  justify-content: space-evenly;
}

.images-container {
  display: flex;
  flex-direction: column;
}

.main-img-container img {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.sub-imgs-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: space-between;
}

.sub-imgs-container img {
  height: 125px;
  width: 125px;
  object-fit: cover;
  margin-top: 10px; 
  padding: 0.5em;
}

.product-name, .product-price, .product-info {
  margin: 0.5em 0;
}

.add-to-cart-btn {
  display: flex;
  align-items: center;
}

.add-to-cart-btn>svg {
  margin-right: 0.5em;
}
