.pay-form, .pay-form>.submit-button {
max-width: 1200px;
display: flex;
flex-direction: column;
margin: 1em auto;
}

span {
color: #333;;
font-size: large;
font-weight: 400;
}

.StripeElement, .customer-name {
margin: 0 1em 0.3em 1em;
border-radius: 7px;
font-size: 15px;
color: #fff;
outline: none;
font-family: barlow,arial,sans-serif;
border: 0;
padding: 1em;
transition: .2s;
box-shadow: inset 0 0 0 2px rgba(16,16,16,.4);
background-color: rgba(16,16,16,.4);
}

.StripeElement:hover, .customer-name:hover {
transition: .2s;
box-shadow: inset 0 0 0 2px var(--orange);
}

.customer-name {
width: 100%;
}

.input-customer-name-container {
display: flex;
}

.card-info {
display: block;
text-align: left;
margin: 1em 1em 0.2em 1em;
}

.ElementsApp input {
height: 60px;
}

.card-element-container {
padding-top: 0.2em;
width: 100%;
margin-bottom: 1em;
}

.mid-fields {
display: flex;
}

.customer-name::placeholder {
color: #2A2A2A;
}

.CardNumberElement--invalid, .CardExpiryElement--invalid, .CardCvcElement--invalid {
color: #9e2146;
}

#card-errors-number, #card-errors-expiry, #card-errors-cvc {
position: absolute;
margin-left: 1em;
}

#card-errors-name {
position: absolute;
margin-left: 1em;
}

.error {
color: #E41E28;
}

