.order-container {
background-color: white;
}
.order-container>* {
margin: 1em;
}

.command-info-container>img {
width: 100px;
height: 100px;
object-fit: cover;
margin-right: 20px;
}

.command-list-container {
display: flex;
align-items: center;
justify-content: space-between;
}

.command-info-container {
display: flex;
align-items: center;
}

.command-info>h2 {
font-size: 18px;
color: #333;
}
.command-info>h3 {
font-size: 16px;
color: #666;
}
.command-info>* {
margin: 0;
}

.btn-default {
padding: 10px 20px;
background-color: #333;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}

.remove-btn {
background-color: #ff5400;
padding: 0.8em 1em;
border-radius: 10px;
}

.remove-btn:hover {
background-color: #ff8000;
color: white;
}

.delivery-address, .delivery-date {
color: #333;
}

.delivery-address {
text-align: center;
margin-bottom: 0.5em;
}

.delivery-address-container {
margin-right: 1em;
}

.delivery-address-header-container {
display: flex;
flex-direction: column;
align-items: center;
}

.separator {
height: 1px;
background: linear-gradient(to right, rgba(204, 204, 204, 0), rgba(204, 204, 204, 1), rgba(204, 204, 204, 0));
margin: 1em 0;
width: 100%;
}

.form-control {
order: 3;
background-color: white;
border: 1px solid #d3d3d3;
height: 48px;
width: 480px;
padding-left: 24px;
padding-right: 24px;
padding-top: 12px;
padding-bottom: 12px;
}

.delivery-container {
display: flex;
align-items: center;
justify-content: center;
}

.remember-address-container {
color: #333;
display: flex;
margin-top: 0.5em;
}

.remember-address-container>input {
margin-right: 0.5em;
}