:root {
  --primary-test-color: #fff;
  --primary-bg-color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Unbounded", sans-serif;
  height: 100vh;
  color: var(--primary-test-color);
  background-color: var(--primary-bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
}

@font-face {
  font-family: "Unbounded";
  src: url(./assets/font/Unbounded/Unbounded-VariableFont_wght.ttf);
}
