/* .card-container {

  height: 350px;
  width: 300px;
  margin: 2%;
}


.card-product-image {
  width: 70%;
  height: 70%;
  margin: 0 auto;
}
.card-flex {
  display: flex;
  justify-content: space-between;
}

.card-album {
  padding-bottom: 3%;
} */
