.form-group>label {
    display: flex;
    flex-direction: column;
}

.form-control {
    order: 3;
    background-color: white;
    border: 1px solid #d3d3d3;
    height: 48px;
    width: 480px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}

label>textarea {
    min-height: 100px;
}

.agreement-container {
    display: flex;
    margin-bottom: 1em;
}

.agreement-container>p {
    font-size: 12px;
    margin-left: 0.5em;
}

.agreement-container>p>a {
    text-decoration: underline;
    font-style: italic;
}