.vinyls-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.vinyls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 70%;
  min-width: 70%;
}

.child-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: #ffffff 1px solid;
  min-height: 472px;
  /* max-height: 460px; */
  max-width: 400px;
  min-width: 400px;
  margin-top: 2%;
}
.child-section > p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 280px;
  margin-top: 2px;
}

.vinyl-cover {
  width: 300px;
  height: 300px;
  margin: auto;
}

.buttons-div {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.pagination button:hover {
  background-color: #ffffff;
}

.pagination button.active {
  background-color: #ffffff;
}

.vinyls-pagination {
  & .MuiPaginationItem-root {
    color: #000000; /* Change the color of pagination text */
  }
  & .MuiPaginationItem-page.Mui-selected {
    background-color: #dbdbdb; /* Change the background color of selected page */
    color: #000000; /* Change the text color of selected page */
  }
  & .MuiPaginationItem-page.Mui-selected:hover {
    background-color: #ffffff; /* Change the background color of the hovered page */
    color: #000000; /* Change the text color of the hovered page */
  }

  /* Styling pour les fleches */
  & .MuiPaginationItem-root .MuiPaginationItem-icon {
    color: #000000;
  }
  & .MuiPaginationItem-root:hover .MuiPaginationItem-icon {
    color: #000000;
  }
  /* changer la couleur des points */
  & .MuiPaginationItem-ellipsis {
    color: white;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

.scroll-to-top svg {
  width: 24px;
  height: 24px;
  fill: black;
}
