.register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #ffffff 2px solid;
  padding: 3rem;
  border-radius: 25px;
  width: auto;
}

.register-image {
  height: fit-content;
  max-width: 427px;
}

.register-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 4%;
}

.register-group > div {
  display: flex;
  justify-content: space-between;
}

.form-label {
  order: 1;
}

.form-control {
  order: 3;
  background-color: white;
  border: 1px solid #d3d3d3;
  height: 48px;
  width: 480px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.error-danger {
  order: 4;
  color: #ff0000;
  font-weight: lighter;
}

.signup {
  background-color: #ffffff;
  height: 48px;
  width: 480px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

label{
    margin-bottom: 0.4rem;
}