table {
  display: inline-table;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.board-edit-button {
  background-color: white;
  color: black;
  width: 100px;
  height: 25px;
  border: none;
}
